
@-webkit-keyframes rainbow {

    0%,
    10% {
        background: rgba(38, 147, 161, 0.75);
        background: linear-gradient(45deg, rgba(77, 181, 199, 0.75) 0%, rgba(42, 106, 131, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(44, 123, 175, 0.75) 0%, rgba(55, 132, 204, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(71, 133, 192, 0.75) 0%, rgba(45, 102, 155, 0.65) 100%);
    }

    16% {
        background: rgba(209, 189, 99, 0.75);
        background: linear-gradient(45deg, rgba(214, 186, 93, 0.75) 0%, rgba(216, 136, 61, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(179, 176, 50, 0.75) 0%, rgba(209, 148, 36, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(204, 117, 35, 0.75) 0%, rgba(219, 109, 35, 0.65) 100%);
    }

    32% {
        background: rgba(239, 83, 80, 0.75);
        background: linear-gradient(45deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
    }

    48% {
        background: rgba(255, 87, 34, 0.75);
        background: linear-gradient(45deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
    }

    64% {
        background: rgba(255, 160, 0, 0.75);
        background: linear-gradient(45deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 160, 0, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 112, 66, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 160, 0, 0.65) 100%);
    }

    80% {
        background: rgba(164, 180, 125, 0.75);
        background: linear-gradient(45deg, rgba(154, 192, 111, 0.75) 0%, rgba(154, 219, 100, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(162, 235, 174, 0.75) 0%, rgba(122, 236, 170, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(123, 141, 24, 0.65) 0%, rgba(201, 189, 27, 0.65) 100%);
    }
}

@keyframes rainbow {

    0%,
    10% {
        background: rgba(38, 147, 161, 0.75);
        background: linear-gradient(45deg, rgba(77, 181, 199, 0.75) 0%, rgba(42, 106, 131, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(44, 123, 175, 0.75) 0%, rgba(55, 132, 204, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(71, 133, 192, 0.75) 0%, rgba(45, 102, 155, 0.65) 100%);
    }

    16% {
        background: rgba(209, 189, 99, 0.75);
        background: linear-gradient(45deg, rgba(214, 186, 93, 0.75) 0%, rgba(216, 136, 61, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(179, 176, 50, 0.75) 0%, rgba(209, 148, 36, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(204, 117, 35, 0.75) 0%, rgba(219, 109, 35, 0.65) 100%);
    }

    32% {
        background: rgba(239, 83, 80, 0.75);
        background: linear-gradient(45deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(239, 83, 80, 0.75) 0%, rgba(239, 83, 80, 0.65) 100%);
    }

    48% {
        background: rgba(255, 87, 34, 0.75);
        background: linear-gradient(45deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(255, 87, 34, 0.75) 0%, rgba(255, 87, 34, 0.65) 100%);
    }

    64% {
        background: rgba(255, 160, 0, 0.75);
        background: linear-gradient(45deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 160, 0, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 112, 66, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(255, 160, 0, 0.75) 0%, rgba(255, 160, 0, 0.65) 100%);
    }

    80% {
        background: rgba(164, 180, 125, 0.75);
        background: linear-gradient(45deg, rgba(154, 192, 111, 0.75) 0%, rgba(154, 219, 100, 0.65) 100%);
        background: -moz-linear-gradient(135deg, rgba(162, 235, 174, 0.75) 0%, rgba(122, 236, 170, 0.65) 100%);
        background: -webkit-linear-gradient(135deg, rgba(123, 141, 24, 0.65) 0%, rgba(201, 189, 27, 0.65) 100%);
    }
}